.button-submit,
.button-primary,
.button-secondary {
  background-color: $primary-color;
  padding: $spacing-small 24px;
  border: none;
  outline: none;
  color: $light-color;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-wrap: nowrap;
}
.button-primary:hover,
.button-submit:hover {
  background-color: $primary-color;
}

.button-secondary {
  background-color: $tertiary-color;
}

.button-group {
  display: flex;
  gap: $spacing-small;
}

button:disabled {
  background-color: #ccc;
  color: $secondary-color;
  cursor: not-allowed;
}
