.button-submit,
.button-primary,
.button-secondary {
  background-color: $color-primary;
  padding: $spacing-small 24px;
  border: none;
  outline: none;
  color: $light-color;
  cursor: pointer;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
  font-weight: bold;
  text-wrap: nowrap;
}
.button-primary:hover,
.button-submit:hover {
  background-color: $color-primary;
}

.button-secondary {
  background-color: $color-tertiary;
}

.button-group {
  display: flex;
  gap: $spacing-small;
}

button:disabled {
  background-color: #ccc;
  color: $color-secondary;
  cursor: not-allowed;
}
