.button-submit,
.button-primary,
.button-secondary {
  background-color: #00e;
  padding: $spacing-small 24px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
	font-weight: bold;
  text-wrap: nowrap;
}
.button-primary:hover,
.button-submit:hover {
  background-color: #00e;
}

.button-secondary {
  background-color: #d1512d;
}

.button-group {
	display: flex;
	gap: $spacing-small;
}

button:disabled {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}