.online__users > * {
	margin-bottom: 10px;
	color: rgb(238, 102, 102);
	font-style: italic;
}

.leaveChat__btn {
	padding: 10px;
	width: 150px;
	border: none;
	outline: none;
	background-color: #d1512d;
	cursor: pointer;
	color: #eae3d2;
}