.online__users > * {
  margin-bottom: $spacing-small;
  color: $tertiary-color;
  font-style: italic;
}

.leaveChat__btn {
  padding: $spacing-small;
  width: 150px;
  border: none;
  outline: none;
  background-color: $tertiary-color;
  cursor: pointer;
  color: $light-color;
}
