.chat__footer {
	padding: $spacing-small 0;
	position: relative;
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: $spacing-small;
}

.message {
	width: 100%;
	height: 100%;
	border: 1px dotted gray;
	outline: none;
	font-size: 14px;
	padding-left: $spacing-small;
}

.message__status {
	position: absolute;
	left: 2px;
	top: -36px;
	font-size: 15px;
	font-style: italic;
	background-color: white;
	padding: 8px $spacing-small;
}