.header,
.quiz-header {
  width: 100%;
  padding: $spacing-small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-small;

  a {
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    color: $primary-color;
    font-family: "Arial";
  }
}
.header {
  border-bottom: 1px dotted $secondary-color;
}
.quiz-header {
  p {
    margin-left: $spacing-small;
  }
}

.quiz-header-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-small;
  width: 100%;
}

.quiz-logo {
  width: $sidebar-width;
}
