.header,
.quiz-header {
  width: 100%;
  padding: $spacing-small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-small;

  a {
    text-decoration: none;
    font-size: 38px;
    font-weight: bold;
    color: $color-primary;
    font-family: "Honk", system-ui;
    font-family: "Bungee Shade", sans-serif;
    @media screen and (max-width: $tablet) {
      font-size: 30px;
    }
  }
}
.header {
  border-bottom: 1px dotted $color-secondary;
}
.quiz-header {
  p {
    margin-left: $spacing-small;
  }
}

.quiz-header-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-small;
  width: 100%;
}

.quiz-logo {
  width: $sidebar-width;
}
