.quiz-infobar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 $spacing-small $spacing-small $spacing-small;

  h4 {
    color: $color-tertiary;
    text-transform: capitalize;
  }
}
