.chat {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 20px;
	overflow-y: scroll;
	border: 1px dotted gray;
}

.chat > * {
	margin-bottom: 10px;
}

.chat-wrapper {
	position: relative;
}

.message__recipient {
	background-color: rgb(239, 239, 239);
	border: 1px dotted gray;

	max-width: 300px;
	padding: 12px;
	// border-radius: 10px;
	font-size: 15px;
}
.message__sender {
	// background-color: rgb(194, 243, 194);
	border: 1px dotted gray;

	max-width: 300px;
	padding: 12px;
	// border-radius: 10px;
	margin-left: auto;
	font-size: 15px;
}
.message__chats > p {
	font-size: 15px;
	font-weight: bold;
}
.recipient__name {
	text-align: left;
	margin: 0 0 4px 12px;
}
.sender__name {
	text-align: right;
	margin: 0 12px 4px 0;

}