.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.3s ease-in-out;

}

.modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 500px;
	background-color: white;
	padding: 50px;
	border: 1px dotted gray;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;

}
// animate modal
@keyframes modal-animation {
	0% {
		transform: translate(-50%, -50%);
		transform: scale(0);

	}
	80% {
		transform: translate(-50%, -50%);
		transform: scale(1.1);

	}
	100% {
		transform: translate(-50%, -50%);
		transform: scale(1);

	}
}