.quiz-component {
  transition: all 0.3s ease-in-out;

  button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $light-color;
    color: black;
    border: 1px dotted $secondary-color;
    transition: all 0.5s ease-in-out;
  }
  button:hover {
    border: 1px solid black;
  }
  button:active {
    background-color: black;
    color: $light-color;
    border: 1px solid black;
  }
  /* @media (hover: hover) and (pointer: fine) {
			button:hover {
			background-color: white;
			color: black;
			border: 1px solid black;
			}
	} */

  .button-disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: gray;
  }
  .button-correct {
    background-color: green;
    color: $light-color;
    border: 1px solid green;
  }

  .button-wrong {
    background-color: $tertiary-color;
    color: $light-color;
    border: 1px solid $tertiary-color;
  }
}

.quiz-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  background-color: $light-color;
}
