.quiz-bar {
	height: 100%;
	margin: 0 0 0 $spacing-small;
	padding: $spacing-small;
	overflow-y: scroll;
	width: $sidebar-width;
	border: 1px dotted gray;

	@media screen and (max-width: $tablet){
		height: fit-content;
		width: fit-content;
		max-width: 100%;
		margin-bottom: $spacing-small;
	}	

	h1 {
		text-align: center;
	}
}
.users {
	display: flex;
	gap: $spacing-small;
	flex-direction: column;
	margin: 0 auto;
	@media screen and (max-width: $tablet){
		
		flex-direction: row;
	}
}
// .users > * {
// 	margin-bottom: 10px;
// 	color: #607eaa;
// 	font-size: 14px;
	
// }

  