.quiz-question-bar-container {
  position: relative;
  width: 100%;
  margin-top: 24px;
}

.quiz-question-bar-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-top: 1px solid rgba(195, 195, 195, 0.3);
}
.quiz-question-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: $primary-color;
  transition: all 1s linear;
}

.quiz-question-bar-invisible {
  position: relative;
  width: 100%;
  height: 5px;
  opacity: 0;
}

.quiz-question-bar-user {
  position: absolute;
  top: 0;
  font-size: 11px;
  font-weight: 600;

  p {
    float: right;
    text-wrap: nowrap;
  }
}
