.quiz-bar {
	height: 100%;
	flex: 0.2;
	padding: 12px;
	overflow-y: scroll;
	max-width: 200px;
	@media screen and (max-width: 768px){
		max-width: 100px;
	}

	h1 {
		text-align: center;
	}
}
.users-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 12px;
	
	h4 {
		margin: 12px 0;
	}

	@media screen and (max-width: 520px){
		margin-top: 46px;
	}
}
.users > * {
	margin-bottom: 10px;
	color: #607eaa;
	font-size: 14px;
}

  