.user {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: $spacing-small;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px dotted $secondary-color;
  color: black;
  animation: user-animation 0.2s ease-out;

  p {
    font-size: 12px;
    background-color: $light-color;
    padding: 0 2px;
    margin-top: $spacing-small;
  }

  @media screen and (max-width: $tablet) {
    padding: 6px;
    width: 100%;
  }
}
.user-image {
  width: auto;
  height: auto;
  overflow: visible;
  border: 2px solid $light-color;

  @media screen and (max-width: $tablet) {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

// animate user
@keyframes user-animation {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
