.user {
	display: flex;
	flex-direction: column;
	gap: 8px;
    // margin: 0 auto;
	padding: $spacing-small;
    // margin: $spacing-small;
    width: 120px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 1px dotted gray;
	color: black;
	animation: user-animation 0.2s ease-out;
    
	p {
		font-size: 14px;
		background-color: white;
		padding: 2px 8px;
        // margin-bottom: $spacing-small;

	}

	@media screen and (max-width: $tablet){
		// padding: 12px;
        width: 80px;
        height: 120px;
        padding: $spacing-small;

	}
}
.user-image {
	width: auto;
	height: auto;
	object-fit: cover;
	border: 1px solid white;


	@media screen and (max-width: $tablet){
        width: auto;
		height: auto;
	}
}

// animate user
@keyframes user-animation {
	0% {
		transform: scale(0);
	}
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
