* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

ul,
li {
  list-style: none;
}
.button-submit,
.button-primary,
.button-secondary {
  background-color: green;
  padding: 12px 32px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.button-primary:hover,
.button-submit:hover {
  background-color: #2d7d2d;
}

.button-secondary {
  background-color: #d1512d;
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-login-form {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 32px 24px;
  
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;


    input {
      padding: 10px;
      border: 1px solid #ddd;
      outline: none;
      border-radius: 5px;
    }
  }
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;

  @media screen and (max-width: 768px){
    display: none;
  }
}
.chat__main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding-right: 12px;
  background-color: #f9f5eb;

}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.chat__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.chat__user-image {
  width: 50px;
    height: 50px;
    object-fit: cover;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5eb;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}
.message__container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 12px 0;
  background-color: #f9f5eb;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.message {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  outline: none;
  padding: 12px;
  border-radius: 5px;
}

.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 72px;
  font-size: 13px;
  font-style: italic;
}
