$sidebar-width: 142px;

$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 24px;

$desktop: 1024px;
$tablet: 512px;

$color-primary: #00e;
$color-secondary: gray;
$color-tertiary: #d1512d;
$color-quaternary: #218a40;
$light-color: #fff;

$border-secondary: 1px dotted $color-secondary;
